/* ====================================
    Content blocks
==================================== */


/* ------------------------------------
    Main content
------------------------------------ */
.site-content
    center($site-width)
    background white
    padding $spacing-large $gutter
