navigation.navigation.menu-partial
    ul(role="navigation")
        li
            a(href="#") Link 1
        li
            a(href="#") Link 2
        li
            a(href="#") Link 3
            
navigation.user-navigation.menu-partial
    div.user__image
        img(src="images/user-image.jpg", alt="User image")
    div.user__name Patrick
