//- default.jade
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title JADE
        
        link(rel="stylesheet", href="assets/css/style.css")
    body
        block content
        
        script(src="assets/js/global.js")
