doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title onplan
        link(rel="stylesheet", href="assets/css/style.css")
    body
        include ../includes/header
        block content
        
        script(src="assets/js/global.js")
